

/* src/components/Cart.css */
.cart {
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 8px;
    margin: 2rem;
  }
  
  .cart h2 {
    margin-bottom: 1rem;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }
  
  .cart-item-image {
    width: 80px;
    height: auto;
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h3 {
    margin: 0;
  }
  
  .cart-item-details input {
    width: 50px;
    padding: 0.25rem;
    margin-right: 1rem;
  }
  
  .cart-item-details button {
    padding: 0.25rem 0.5rem;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item-details button:hover {
    background: #cc0000;
  }
  .payment-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .payment-section button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .payment-section button:hover {
    background-color: #218838;
  }

  .bank-details {
    text-align: left;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .bank-details h4 {
    margin-bottom: 10px;
  }
  
  .bank-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .bank-details ul li {
    margin-bottom: 10px;
  }


  /* src/components/Cart.css */
.phone-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }