

/* src/components/Home.css */
.home-page{
  text-align: center;
  background-color: white;
  
  padding: 20px;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.auth-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.auth-link {
  padding: 0.75rem 1.5rem;
  background-color: #2575fc;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.auth-link:hover {
  background-color: #1a5bbf;
}

.content {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  

}


.product-item {
  border: 1px solid orange;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  grid-template-columns: repeat(3, 1);
 
  
}


.product-item button{
  color: orange;
  background-color: rgb(245, 166, 19);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}



.product-item button:hover {
  background-color: rgba(255, 166, 0, 0.562);
}
.smart{
  color: orange;
  text-align: center;
}

.sidebar{
  width: 100%;
  height: 40%;
  background-color: orange;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/menfashion.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  background-size: cover;
  
  
}
.store-info{
  margin-top: 20px;
  color: orange;
}
.social-links a{
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.social-links a:hover{
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: orange;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  
}

.product-form {
  margin-bottom: 20px;
  padding: 20px;
  background-color: orange;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 30%;
  width: 40%;
}

.product-form h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form-group textarea {
  resize: vertical;
  min-height: 100px;
}
